.widgetContainer {
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.monthYear {
  font-size: 18px;
  font-weight: 600;
}

.navButtons button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  padding: 5px 10px;
}

.weekDays,
.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.weekDay {
  font-size: 24px;
  font-weight: 600;
  color: #999;
  padding: 10px 0;
}

.dayCell {
  font-size: 20px;
  padding: 15px;
  border: #555 1px solid;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.dayCell:not(:empty):hover {
  background-color: #f0f4f8;
}

.today {
  box-shadow: 0 0 0 1px #6b9cde;
  color: #6b9cde;
  font-weight: 600;
}

.selected {
  background-color: #6b9cde;
  color: #ffffff;
  font-weight: 600;
}
